[submodule "iotDeviceOnSaiot/lib/SaiotDevice"]
	path = iotDeviceOnSaiot/lib/SaiotDevice
	url = https://github.com/daniellycosta/SaiotDevice.git
[submodule "iotDeviceOnSaiot/lib/WiFiManager"]
	path = iotDeviceOnSaiot/lib/WiFiManager
	url = https://github.com/tzapu/WiFiManager.git
[submodule "iotDeviceOnSaiot/lib/pubsubclient"]
	path = iotDeviceOnSaiot/lib/pubsubclient
	url = https://github.com/knolleary/pubsubclient.git
